extend ../common/_master
include ../utils/notifications
include utils/search-nav
include utils/event-view

block main
    link(rel='stylesheet', href='../../public/css/events/browse-events.css', type='text/css')
    +notifications()
    form(id='browse-events-form' class="col s6" action='/events/browse')
        div(class="row")
            +search-nav
            div(class="col s12 m9 l9" id="events-box")
                div(class="row")
                    +event-view()
    script(src="../../public/js/events/datepicker.js")
    script(src="../../public/js/modal.js")
    script(src="../../public/js/events/autocomplete.js")
    script(src="../../public/js/events/view.event.js")
    script(src="../../public/js/events/join.event.js")
    script(src="../../public/js/events/leave.event.js")