extend ../common/_master

block main
    link(rel='stylesheet', href='../../public/css/events/create-event.css', type='text/css')
    form(id='create-event-form' action='/create-event' method='POST')
        div(class='form-group')
            label(for='eventName' class='col-2 col-form-label')
                |Event name:
            input(name='eventName' type='text' class='form-control' id='event-name' aria-describedby='event-name-help' placeholder='Write the event title here..' minlength="4" required)
        div(class='form-group')
            label(for='eventLocation' class='col-2 col-form-label')
                |Event location:
            input(name='eventLocation' type='text' class='form-control' id='event-location' aria-describedby='event-location-help' placeholder='Write the location name here..' minlength="4" required)
        div(class='form-group')
            label(for='eventType' class='col-2 col-form-label')
                |Event type:
            input(name='eventType' type='text' class='form-control' id='event-type' aria-describedby='event-type' placeholder='Write the event type here..' minlength="4" required)
        div(class='form-group')
            label(for='eventDescription' class='col-2 col-form-label')
                |Event description:
            input(name='eventDescription' type='text' class='form-control' id='event-description' aria-describedby='event-description' placeholder='Write the event description here..' minlength="4" required)
        div(class='form-group')
            label(for='eventDate' class='col-2 col-form-label')
                |Event date:
            input(name='eventDate' type='text' class='form-control' id='event-date' aria-describedby='event-date' placeholder='Write the event date here..' minlength="4" required)
        button(type='sumbit' class='btn' id='create-event-btn')
                |Create event