extend ../common/_master

block body
        link(rel='stylesheet', href='../../public/css/ranking.css', type='text/css' )
        script(src="../../public/js/event.view.ajax.js")
        div(class="container-fluid row")
                div(class="col-md-4")
                    div(class="card event-card")
                        //- img(class="card-img-top" src="..." alt="Image")
                        div(class="card-block")
                                h4(class="card-title")
                                        |#{event.eventName}
                                p(class="card-text")
                                        |
                                a#join-link(href="#" class="btn")
                                        |Participate
                != messages()