extend ../common/_master
include ../utils/notifications

block main
    link(rel='stylesheet', href='../../public/css/home.css', type='text/css')
    +notifications()
    div(class="flow-text")
        p(class="center-align grey-text text-darken-4")
            | Check out our top rated events:
    div(class="carousel" id="home-top-events")
        each event, index in context
            a(class="carousel-item" href="#{index}!")
                img(src="data:image/png;base64," + event.eventImage.data)
                | Participants : #{event.participantsCount}
    div(class="row center-align" id="home-buttons") 
        a(class="btn deep-orange col s12 m4 l2" href="/events/browse" id="browse-events-btn")
            |Browse More
        unless user   
            a(class="btn deep-orange col s12 m4 l2" href="/login" id="login-btn")
                |Login
    script(src="../../public/js/carousel.js")