extend ../common/_master

block body
        link(rel='stylesheet', href='../../public/css/ranking.css', type='text/css' )
        div(class="container-fluid row")
                div(class="col-md-4")
                    div(class="card event-card")
                        img(class="card-img-top" src="..." alt="Image")
                        div(class="card-block")
                                h4(class="card-title")
                                        |Event name
                                p(class="card-text")
                                        |This event is event and stuff and blabla and DSA and Node and Whatever</p>
                                a(href="#" class="btn")
                                        |View Event 
                div(class="col-md-4")
                    div(class="card event-card")
                        img(class="card-img-top" src="..." alt="Image")
                        div(class="card-block")
                                h4(class="card-title")
                                        |Event name
                                p(class="card-text")
                                        |This event is event and stuff and blabla and DSA and Node and Whatever</p>
                                a(href="#" class="btn")
                                        |View Event    
                div(class="col-md-4")
                    div(class="card event-card")
                        img(class="card-img-top" src="..." alt="Image")
                        div(class="card-block")
                                h4(class="card-title")
                                        |Event name
                                p(class="card-text")
                                        |This event is event and stuff and blabla and DSA and Node and Whatever</p>
                                a(href="#" class="btn")
                                        |View Event
        div(class="container-fluid row")
                div(class="col-md-4")
                    div(class="card event-card")
                        img(class="card-img-top" src="..." alt="Image")
                        div(class="card-block")
                                h4(class="card-title")
                                        |Event name
                                p(class="card-text")
                                        |This event is event and stuff and blabla and DSA and Node and Whatever</p>
                                a(href="#" class="btn")
                                        |View Event 
                div(class="col-md-4")
                    div(class="card event-card")
                        img(class="card-img-top" src="..." alt="Image")
                        div(class="card-block")
                                h4(class="card-title")
                                        |Event name
                                p(class="card-text")
                                        |This event is event and stuff and blabla and DSA and Node and Whatever</p>
                                a(href="#" class="btn")
                                        |View Event    
                div(class="col-md-4")
                    div(class="card event-card")
                        img(class="card-img-top" src="..." alt="Image")
                        div(class="card-block")
                                h4(class="card-title")
                                        |Event name
                                p(class="card-text")
                                        |This event is event and stuff and blabla and DSA and Node and Whatever</p>
                                a(href="#" class="btn")
                                        |View Event
        div(class="container-fluid row")
                div(class="col-md-4")
                    div(class="card event-card")
                        img(class="card-img-top" src="..." alt="Image")
                        div(class="card-block")
                                h4(class="card-title")
                                        |Event name
                                p(class="card-text")
                                        |This event is event and stuff and blabla and DSA and Node and Whatever</p>
                                a(href="#" class="btn")
                                        |View Event 
                div(class="col-md-4")
                    div(class="card event-card")
                        img(class="card-img-top" src="..." alt="Image")
                        div(class="card-block")
                                h4(class="card-title")
                                        |Event name
                                p(class="card-text")
                                        |This event is event and stuff and blabla and DSA and Node and Whatever</p>
                                a(href="#" class="btn")
                                        |View Event    
                div(class="col-md-4")
                    div(class="card event-card")
                        img(class="card-img-top" src="..." alt="Image")
                        div(class="card-block")
                                h4(class="card-title")
                                        |Event name
                                p(class="card-text")
                                        |This event is event and stuff and blabla and DSA and Node and Whatever</p>
                                a(href="#" class="btn")
                                        |View Event              