html,
body {
    margin: 0;
    padding: 0;
    height: 100%;    
    min-height: 100%;
}

ul {
    list-style-type: none;
}
ul li{
    margin-top: 3%;
}
ul li a {
    color: #F4F4EF;
    font-size: 1.7rem;
    text-decoration-style: none;
    display: block;  
    height: 100%;
     
}
 
a:hover {
    text-decoration: none;
    color: #ACBEBE;
}

#header {
    margin: 0;
    padding: 0;
    background-color: #20232A;
}

#navbar {
    margin: 0;
    padding: 0;

}
#navbar ul{
    margin: 0;
    padding: 0;
}
 
#navbar-logout a {
    font-size: 1.7rem;
}
 
#navbar-profile a, #navbar-logout a{
    color: #F4F4EF;    
}

 
#footer{     
    position: absolute;
    bottom: 0%;
    height: 5%;
    width: 100%;
    background-color: #20232A;
}