html, body{
    margin: 0;
    padding: 0;
}
#login-form{
    margin: 0;
    padding: 0;
    width: 15%;
    margin-left: 40%;
    margin-top: 5%;
}
#sign-in-btn{
    margin-left: 5%;    
    background-color: #20232A;
    color: #F4F4EF;
    text-decoration: none;
}
#or-span{
    margin-left: 5%;
}
#register-btn{
    background-color: #A01d26;
    margin-left: 5%;
    color: #F4F4EF;    
    text-decoration: none;
}
 