include _header

<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel='stylesheet', href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href="../../public/css/main.css")
    script(src='/libs/jquery/dist/jquery.js')
    block styles
    block head_scripts
    title Team Fade
block header
    +header()
block body
block footer
    div(class="container-fluid col-md-12 fixed-bottom" id="footer")
