mixin nav()
    nav(class="nav-wrapper  light-green" id="navbar")
        a(href="/" class="brand-logo light-green-text text-lighten-4")
            |Fade
        ul(ul id="nav-mobile" class="right hide-on-med-and-down light-green-text text-lighten-4")                    
            li(class="" id="navbar-home")
                a(href='/')
                   | Home
            li(class="" id="navbar-about")   
                a(href='/about')
                    | About us         
            li(class="" id="navbar-ranking")
                a(href='/ranking')
                    | Top Events
            if user
                li(class="" id="navbar-profile")
                    a(href='/user/profile')
                        =user.username
                li(class="" id="navbar-logout")
                    a(href='/logout')
                        span(class="" aria-hidden="true")
                        | Logout
            else
                li(class="" id="navbar-profile")                
                    a(href='/login')
                        | Login