include utils/nav-links.pug

mixin nav()
    nav(class="nav-wrapper  light-green" id="navbar")
        a(href="/" class="brand-logo light-green-text hide-on-small-and-down text-lighten-4")
            |Fade
        a(class="dropdown-button hide-on-med-and-up" href="#!" id="dropdown-menu-btn" data-activates="dropdown1")
            |Menu
        ul(id="dropdown1" class="dropdown-content")
            +nav-links()          
        ul(ul id="nav-mobile" class="right hide-on-small-and-down light-green-text text-lighten-4")
            +nav-links()
    script(src="/public/js/dropdown.js")