mixin nav
    nav(class="col-md-9" id="navbar")
        ul                    
            li(class="col-md-4" id="navbar-home")
                a(href='/')
                    p(class="text-center")
                        | Home
            li(class="col-md-4" id="navbar-about")   
                a(href='/about')
                    p(class="text-center")
                        | About           
            li(class="col-md-4" id="navbar-ranking")
                a(href='/ranking')
                    p(class="text-center")
                        | Ranking