extend ../common/_master


block main
    link(rel='stylesheet', href='../../public/css/users/signin.css', type='text/css' )   
    div(class="orange accent-4 card center-align light-green-text text-lighten-4" id="messages-box")
        !=messages()
    div(class="row")
        form(id="login-form" class="col s12" action='/login' method='POST')
            div(class="row")
                div(class="input-field col")
                    input(name="username" id="username" type="text" class="validate")
                    label(for="username")
                        |Username:
            div(class="row")
                div(class="input-field col")
                    input(name='password' id="password" type="password" class="validate")
                    label(for="password")
                        |Password
            div(class="row buttons")            
                button(type='submit' class='btn deep-orange' id='sign-in-btn')
                    |Login
                button(class='btn deep-orange' type="button" onclick="window.location.href='/register'" id='register-btn')
                    |Register