extend ../common/_master

block main
    link(rel='stylesheet', href='../../public/css/users/my-events.css', type='text/css' )
    div(class="card horizontal row")
    if joinedEvents
        each event, index in joinedEvents
            div(class="card-image col s12 m3 l3")
                img(class="col s12" src="http://sunrisebangalore.com/gallery-pic/1f154-45749128-50609527event1.jpg")
            div(class="card-stacked col s12 m9 l6")
                h5(class="header")
                    |#{event.eventName}
                div(class="card-content")
                    p
                        |joined.         
                div(class="card-action")
                    a(href="#")
                        |Leave
    div(class="card horizontal row")
    if createdEvents
        each event, index in createdEvents
            div(class="card-image col s12 m3 l3")
            if event.eventImage.encoded
                img(src="data:image/png;base64," + event.eventImage.encoded)
            else
                 mg(src="data:image/png;base64," + event.eventImage.default)
            div(class="card-stacked col s12 m9 l6")
                h5(class="header")
                    |#{event.eventName}
                div(class="card-content")
                    p
                        |created.         
                div(class="card-action")
                    a(href=`/events/manage/${event._id}`)
                        |Manage
                    a(href="#")
                        |Disband