extend ../common/_master

block body
    link(rel='stylesheet', href='../../public/css/users/profile.css', type='text/css' )
    form(action="/user/profile-controls")
        button
            |Update your profile
    form(action="/user/create-event")
        button
            |Create event